@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Quicksand:wght@300;400;700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: hsl(216, 67%, 5%);
  margin: 0;
}

/* HEADER HEADER HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

#header .logo {
  width: 90px;
  height: auto;
}

.header .links {
  display: flex;
  gap: 5vw;
}

.header .links a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

/* FOOTER FOOTER FOOTER */

#footer {
  background-color: hsl(216, 67%, 3%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .img {
  height: 60px;
  width: auto;
  margin: 24px 0;
}

#footer .socials {
  display: flex;
  gap: 60px;
}
#footer .socials a {
  color: white;
  font-size: 40px;
}

#footer .copyright {
  text-align: center;
}

/* HOME HOME HOME */

#home .body1 {
  display: flex;
  padding: 30px 10vw;
}

#home .body1 div {
  flex: 1;
}

#home .body1 p {
  padding-right: 16px;
}

#home .portret {
  background-image: url(./images/portret.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 8px;
}

#home .body2{
  background-color: hsl(216, 67%, 12%);
  padding: 30px 10vw;
}

#home .body2 h1{
  margin-top: 0;
}

#home .embeds {
  display: flex;
  justify-content: space-between;
}

#home .embeds iframe {
  width: 300px;
  height: 170px;
}

#home .body3 {
  background-color: hsl(216, 67%, 8%);
  padding: 30px 10vw;
  text-align: center;
}

#home .quote {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  margin-bottom: 8px;
}
